html,
body {
  font-family: "Quicksand", sans-serif;
}

body {
  background-image: url("/static/images/bkgnd.png");
}

main {
  padding-bottom: 40px;
}

h1 {
  font-weight: 900;
  border-left: 10px solid #96858f;
  padding-left: 10px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 5px rgb(0 0 0 / 0.5);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  }

.card-body {
  background-color: #fffafa;
  box-shadow: 0 4px 5px rgb(0 0 0 / 0.5);
}

.card-header{
  color:#fffafa;
}

#card-header{
  color: #fffafa;
}

.border-dark{
  background-color: #6d7993;
}

.figure-caption {
  color: #000000;
}

.dropdown-menu-dark .dropdown-item {
  color: #fffafa;
}

.btn {
  background-color: #6d7993;
  border-color: #000000;
  color: #fffafa;
  margin-top: 0.25rem;
  background-color: #96858f;
}

.control-label {
  font-weight: 800;
}

.figure {
  margin: auto;
  display: block;
}

.navbar {
  background-color: #6d7993;
  color: #000000;
}

.nav-link {
  color: #fffafa !important;
}

.border-bottom {
  border-bottom: 1px solid #000000 !important;
}

.dropdown-menu {
  background-color: #96858f;
}

.form-group {
  margin: auto;
  padding: 10px;
}

.img-thumbnail {
  border-color: #9099a2;
}

#index-cards {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

#searchbtn{
  margin-top: 0;
}

#page-container {
  min-height: 70vh;
}

#genre-images {
  max-height: 200px;
}

#genre-links{
  color:#000000;
}

#history-image{
  max-height: 240px;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}
