html,
body {
  font-family: "Quicksand", sans-serif;
}

body {
  background-image: url("/static/images/bkgnd.png");
}

main {
  padding-bottom: 40px;
}

h1 {
  font-weight: 900;
  border-left: 10px solid #96858f;
  padding-left: 10px;
  margin-bottom: 30px;
}

.card {
  max-height: 100%;
}

.card-img-top {
  width: 100%;
  min-height: 18vw;
  object-fit: cover;
}

.card-body {
  background-color: #fffafa;
}

.card-header{
  color:#fffafa;
}

.border-dark{
  background-color: #6d7993;
}

#card-header{
  color: #fffafa;
}

#index-cards {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.figure-caption {
  color: #000000;
}

.dropdown-menu-dark .dropdown-item {
  color: #fffafa;
}

.btn {
  background-color: #6d7993;
  border-color: #000000;
  color: #fffafa;
  border: 1px, solid;
  margin-top: 0.5rem;
  background-color: #96858f;
}

.control-label {
  font-weight: 800;
}

.figure {
  margin: auto;
  display: block;
}

.navbar {
  background-color: #6d7993;
  color: #000000;
}

.nav-link {
  color: #fffafa !important;
}

.border-bottom {
  border-bottom: 1px solid #000000 !important;
}

.img-thumbnail {
  display: block;
  min-height: 200px;
  object-fit: cover;
  width: auto;
  height: auto;
  float: right;
  margin: 0.25rem;
}

.dropdown-menu {
  background-color: #96858f;
}

.form-group {
  margin: auto;
  padding: 10px;
}

.img-thumbnail {
  border-color: #9099a2;
}

.navbar-brand {
  color: #fffafa !important;
}

#search-button {
  border: 1px solid black;
  margin: 0.25rem;
}

#hurry {
  margin: auto;
  width: 50%;
}

#page-container {
  min-height: 70vh;
}

#book-button {
  float: right;
}

#delete-button {
  float: left;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

#edit-button {
  float: left;
  margin-left: 0.25rem;
}

#genre-images {
  border: 1px solid black;
  margin: auto;
  display: block;
  max-height: 200px;
}

#hero-image {
  max-height: 100vh;
}

#SearchForm {
  max-width: 100%;
}

#submit {
  margin-left: 0.75rem;
}

#image {
  margin: 0.5rem;
  border-radius: 4px;
}
