{% extends 'base.html' %} {% block content %}
<br>
<div id='page-container' class='container'>
    <!--Carousel section-->
    <div class='row'>
        <h1 class='display-5 fw-bold'>What's on in Brisbane...</h1>
    </div>
    <!--Creates 3 slides for the carousel-->
    <div class='row'>
        <div id='whats-on-carousel' class='carousel slide' data-bs-ride='carousel'>
            <div class='carousel-indicators'>
                <button type='button' data-bs-target='#whats-on-carousel' data-bs-slide-to='0' class='active'
                    aria-current='true' aria-label='Slide 1'></button>
                <button type='button' data-bs-target='#whats-on-carousel' data-bs-slide-to='1'
                    aria-label='Slide 2'></button>
                <button type='button' data-bs-target='#whats-on-carousel' data-bs-slide-to='2'
                    aria-label='Slide 3'></button>
            </div>
            <!--Images used on each carousel slide-->
            <div class='carousel-inner'>
                <div class='carousel-item active'>
                    <a href='#'><img src='{{url_for("static", filename="images/applefest.jpeg")}}'
                            class='d-block img-fluid w-100' alt='Apple Music Festival'></a>
                </div>
                <div class='carousel-item'>
                    <a href='#'><img src='{{url_for("static", filename="images/live.jpg")}}'
                            class='d-block img-fluid w-100' alt='Paramore Live in Concert'></a>
                </div>
                <div class='carousel-item'>
                    <a href='#'><img src='{{url_for("static", filename="images/flume.jpg")}}'
                            class='d-block img-fluid w-100' alt='Flume Australian Tour'></a>
                </div>
            </div>
            <!--Creates the previous and next buttons on the carousel-->
            <button class='carousel-control-prev' type='button' data-bs-target='#whats-on-carousel'
                data-bs-slide='prev'>
                <span class='carousel-control-prev-icon' aria-hidden='true'></span>
                <span class='visually-hidden'>Previous</span>
            </button>
            <button class='carousel-control-next' type='button' data-bs-target='#whats-on-carousel'
                data-bs-slide='next'>
                <span class='carousel-control-next-icon' aria-hidden='true'></span>
                <span class='visually-hidden'>Next</span>
            </button>
        </div>
    </div>
    <!--End carousel Section-->
    <br>
    <!--Search and selection section-->
    <div class='row'>
        <h1 class='display-5 fw-bold'>Search For An Event</h1>
    </div>
    <form action="{{url_for('main.search')}}" class="row gx-3 gy-2 align-items-center">
        <!--Create genre dropdown-->
        <div class="col-md-4">
            <select name="genre" class="form-select">
                <option value='' selected>Select a genre...</option>
                {% for genre in genres %}
                <option value="{{genre.name.lower()}}">{{genre.name.title()}}</option>
                {% endfor %}
            </select>
        </div>
        <!--Create city dropdown-->
        <div class="col-md-4">
            <select name="city" class="form-select">
                <option value='' selected>Select a city...</option>
                {% for city in cities %}
                <option value="{{city.name.lower()}}">{{city.name.title()}}</option>
                {% endfor %}
            </select>
        </div>
        <!--Create search bar-->
        <div class="col-md-3">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search"></input>
        </div>
        <!--Create submit button-->
        <div class="col-md-1">
            <button type="submit" id='searchbtn' class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>
    <!--End search section-->
    <br>
    <!--Featured section-->
    <div class='row'>
        <h1 class='display-5 fw-bold'>Featured Events</h1>
    </div>
    <!--Create a card for each event-->
    <div class='row'>
        {% for event in current_events %}
        <div class='col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch'>
            <div class='card mt-4'>
                <img src="{{event.image}}" class='card-img-top img-fluid' alt=''>
                <div class='card-body d-flex flex-column'>
                    <h4 class='card-title'><a href='{{url_for("events.show", id=event.id)}}'>{{event.title}}</a></h4>
                    {% if event.tickets_remaining == 0 %}
                    <h5 class='card-subtitle mb-2' style="color:red">{{event.event_status.name.title()}}</h5>
                    <h6 class='card-subtitle mb-2'>{{event.event_genre.name.title()}}</h6>
                    {% else %}
                    <h5 class='card-subtitle mb-2' style="color:green">{{event.event_status.name.title()}}</h5>
                    <h6 class='card-subtitle mb-2'>{{event.event_genre.name.title()}}</h6>
                    {% endif %}
                    <p id='index-cards' class='card-text'>{{event.description}}</p>
                    <a href='{{url_for("events.show", id=event.id)}}' class='mt-auto btn btn-outline-dark'>See more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--End featured section-->
    <br>
    <!--Genre section-->
    <div class='row'>
        <h1 class='display-5 fw-bold'>Browse by Genre</h1>
    </div>
    <!--Create card for each genre-->
    <div class='row'>
        {% for genre in genres %}
        <div class='col-6 col-xl-4'>
            <a id='genre-links' href='{{url_for("events.view_events", genre=genre.name.lower())}}'>
                <img id='genre-images' class='img-fluid shadow-lg  bg-white text-white rounded-circle border border-dark m-auto d-block'
                    src="{{url_for('static', filename='images/{0}.png'.format(genre.name|lower))}}">
                <div class="d-flex justify-content-center">
                    <p>{{genre.name.title()}}</p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<!--End genre section-->
<br>
<!--City section-->
<div class='row'>
    <h1 class='display-5 fw-bold'>Browse by City</h1>
</div>
<!--Create card for each city-->
<div class='row'>
    {% for city in cities %}
    <div class='col-6 col-xl-4'>
        <a id='genre-links' href='{{url_for("events.view_events_city", city_name=city.name.lower())}}'>
            <img id='genre-images' class='img-fluid shadow-lg rounded-circle border border-dark m-auto d-block'
                src='{{url_for("static", filename="images/{0}.jpg".format(city.name|lower))}}'>
            <div class="d-flex justify-content-center">
                <p>{{city.name.title()}}</p>
        </a>
            </div>
    </div>
    {% endfor %}
</div>
<!--End city section-->
<!--End container -->
{% endblock %}
