{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div id='page-container' class="container">
    <div class='row'>
        <div class='col-md-6 ml-5'>
            <div class="page-header">
                <br>
                <h1>{{heading}}</h1>
            </div>
        </div>
    </div>

    <div class="col-md-6 ml-5">
        {{wtf.quick_form(form)}}
    </div>

    <!-- When you have login form, then show the user a link to register -->
    {% if heading|lower =='login' %}
    <div class="col-md-4 mb-5 ml-5">
        <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    </div>
    {% endif %}
</div><!-- end container -->
{% endblock %}