{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}

<!-- Setting up the upcoming concerts for the artist-->
<div id='page-container' class='container'>
    <div class='row'>
        <div class='col-sm-12 col-md-6'>
            <figure class="figure">
                <img src='{{ event.image }}' id='hero-image' class='mx-auto d-block img-fluid shadow-lg p-1 mb-2' alt=''>
                <figcaption class="figure-caption">{{ event.headliner }}</figcaption>
            </figure>
        </div>
        <div class='col-sm-12 col-md-6'>
            <h2><strong>Upcoming Events by This Artist:</strong></h2>
            <div class='info_box'>
                {% for artist_event in artist_events %}
                <p><strong><a href='{{ url_for("events.show", id=artist_event.id) }}'>{{ artist_event.title }}</strong></a>
                </p>
                <p>{{ artist_event.date.strftime('%B %d, %Y @ %I:%M
                    %p') }}</p>
                <p>{{ artist_event.venue }}, <strong>{{ artist_event.event_city.name.title() }}</strong></p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Setting up more event details about the artist's upcoming events-->
    <div class='row'>
        <div class='col'>
            <div class='card'>
                <div class='card-body'>
                    <div class='row'>
                        <h1 class='card-event-title'>{{ event.title }}</h1>
                        <div class='col-xs-12 col-md-6'>
                            <h3>{{ event.date.strftime('%B %d, %Y @ %-I:%M
                                %p') }} - <strong>{{ event.event_status.name.title() }}</strong></h3>
                            <div class='row'>
                                <h4>{{ event.venue }}, {{ event.event_city.name.title() }}</h4>
                            </div>
                            <div class='row'>
                                <div class='col-xs-12'>
                                    <h6><strong>Genre: </strong>{{ event.event_genre.name.title() }}</h6>
                                    <h6><strong>Created On: </strong>{{ event.created_on.strftime('%d/%m/%Y') }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-md-6'>
                            <h4><strong>Event Description:</strong></h4>
                            <p class='card-text'>{{ event.description }}</p>
                        </div>
                    </div>
                    <!-- Create Ticket Boundary in terms of ticket availability -->
                    <div class='row'>
                        {% if event.tickets_remaining == 0 %}
                        <div class='col-6'>
                            <h2><strong>{{ "$%.2f"|format(event.price) }}</strong> ea.</h2>
                            <p style="color:red"><strong>Sorry, sold out!</strong></p>
                        </div>
                        {% elif event.event_status.name == 'INACTIVE' or event.event_status.name == 'CANCELLED' %}
                        <div class='col-6'>
                            <h2><strong>{{ "$%.2f"|format(event.price) }}</strong> ea.</h2>
                        </div>
                        {% else %}
                        {% if event.tickets_remaining <= 100 and event.tickets_remaining> 0 %}
                            <div class='row'>
                                <p style="color:red"><strong>Hurry, only {{ event.tickets_remaining }} tickets
                                        left!</strong></p>
                            </div>
                            {% endif %}
                            <div class='col-6'>
                                <h2><strong>{{ "$%.2f"|format(event.price) }}</strong> ea.</h2>
                            </div>
                            <div class='col-6'>
                                <button id='book-button' type='button' class='btn btn-dark float-end'
                                    data-bs-toggle='modal' data-bs-target='#bookingModal'>
                                    Book Tickets</button>
                            </div>
                            {% endif %}
                    </div>
                    <!-- Modal (To be able to book an event)-->
                    <div class='modal fade' id='bookingModal' tabindex='-1' aria-labelledby='bookingModalLabel'
                        aria-hidden='true'>
                        <div class='modal-dialog'>
                            <div class='modal-content'>
                                <div class='modal-header'>
                                    <h5 class='modal-title' id='bookingModalLabel'>{{ event.title }}</h5>
                                    <button type='button' class='btn-close' data-bs-dismiss='modal'
                                        aria-label='Close'></button>
                                </div>
                                <div class='modal-body'>
                                    <strong>Important Info:</strong>
                                    <p><strong>{{ event.venue }}</strong> Bag Restrictions: Please note backpacks
                                        of
                                        any type and size
                                        are not permitted into <strong>{{ event.venue }}</strong>, including
                                        handbags
                                        that can be worn
                                        as a backpack. All other bags must be smaller than A5.</p>
                                    <strong>Date:</strong>
                                    <p>{{ event.date.strftime('%B %d, %Y @ %I:%M
                                        %p') }}</p>
                                    <strong>Venue:</strong>
                                    <p>{{event.venue}}</p>
                                    <strong>Event Status:</strong>
                                    <p>{{event.event_status.name.title()}}</p>
                                    <strong>Cost per ticket:</strong>
                                    <p>{{ "$%.2f"|format(event.price) }}</p>
                                    {{ render_form(booking_form, "/events/{0}/book".format(event.id)) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
    <!-- Comments -->
    <div class='row'>
        <div class='col'>
            <br>
            <h4>Comments</h4>
        </div>
    </div>
    <div class='row'>
        <div class="col">
            {{ render_form(form,"/events/{0}/comment".format(event.id)) }}
        </div>
    </div>
    <br>
    {% for comment in event.comments %}
    <div class='row border-bottom'>
        <div class='col-sm-12 col-md-3 col-lg-2'>
            <div class='row'>
                <b>{{ comment.user.name }}</b>
            </div>
            <div class='row'>
                <span class="ml-2">
                    {{ comment.created_at.strftime('%d/%m/%y %I:%M
                    %p') }}</span>
            </div>
        </div>
        <!--This shows pervious comments -->
        <div class='col-sm-12 col-md-9 col-lg-10 mt-auto'>
            {{ comment.text }}
        </div>
    </div>
    {% endfor %}
</div><!-- end container -->
{% endblock %}