{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<br>
<div id='page-container' class='container'>
    <div class='row'>
        <div class='col'>
            <figure class="figure">
                <img src='{{event.image}}' id='hero-image' class='mx-auto d-block img-fluid shadow-lg p-1 mb-2' alt=''>
                <figcaption class="figure-caption">{{event.headliner}}</figcaption>
            </figure>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-sm-12 col-md-6'>
            <div class='card'>
                <div class='card-body'>
                    <h1 class='card-title'>{{event.title}}</h1>
                    <h2>{{event.date.strftime('%B %d, %Y @ %I:%M
                        %p')}} - <strong>{{event.event_status.name.title()}}</strong></h2>
                    <h3>{{event.venue}}, {{event.event_city.name.title()}}</h3>
                    <h6><strong>Event ID: </strong>{{event.id}}<strong> Created On:
                        </strong>{{event.created_on.strftime('%d/%m/%Y')}}</h6>
                    {% if event.tickets_remaining == 0 %} <strong>
                        <p style="color:red">Sorry, sold out!
                        </p>
                    </strong>
                    <button id='book-button' type='button' class='btn btn-dark' data-bs-toggle='modal'
                        data-bs-target='#bookingModal' disabled>
                        Book Tickets
                    </button>
                    {% else %}
                    <button id='book-button' type='button' class='btn btn-dark' data-bs-toggle='modal'
                        data-bs-target='#bookingModal'>
                        Book Tickets
                    </button>
                    {% endif %}
                    {% if event.tickets_remaining <= 100 and event.tickets_remaining> 0 %} <p style="color:red">Hurry,
                            only
                            {{event.tickets_remaining}} tickets left!
                        </p>
                        </strong>
                        {% endif %}
                        <!-- Modal -->
                        <div class='modal fade' id='bookingModal' tabindex='-1' aria-labelledby='bookingModalLabel'
                            aria-hidden='true'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='modal-header'>
                                        <h5 class='modal-title' id='bookingModalLabel'>{{event.title}}</h5>
                                        <button type='button' class='btn-close' data-bs-dismiss='modal'
                                            aria-label='Close'></button>
                                    </div>
                                    <div class='modal-body'>
                                        <strong>Important Info:</strong>
                                        <p><strong>{{event.venue}}</strong> Bag Restrictions: Please note backpacks
                                            of
                                            any type and size
                                            are not permitted into <strong>{{event.venue}}</strong>, including
                                            handbags
                                            that can be worn
                                            as a backpack. All other bags must be smaller than A5.</p>
                                        <strong>Date:</strong>
                                        <p>{{event.date}}</p>
                                        <strong>Venue:</strong>
                                        <p>{{event.venue}}</p>
                                        <strong>Event Status:</strong>
                                        <p>{{event.event_status.name.title()}}</p>
                                        {{wtf.quick_form(booking_form, "/events/{0}/book".format(event.id))}}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class='col-sm-12 col-md-6 border-bottom'>
            <h4><strong>Event Description:</strong></h4>
            <p class='card-text'>{{event.description}}</p>
        </div>
    </div>
    <!-- Comments -->
    <div class='row'>
        <div class='col-md-12'>
            <br>
            <h2>Comments</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            {% for comment in event.comments %}
            <div class="row border-bottom">
                <b>{{comment.user.name}} <span class="ml-2 text-muted">{{comment.created_at.strftime('%d/%m/%Y %I:%M
                        %p')}}</span></b>
                <p>{{comment.text}}</p>
            </div>
            {% endfor %}
            <div class="col">
                {{wtf.quick_form(form,"/events/{0}/comment".format(event.id))}}
            </div>
        </div>
    </div><!-- end container -->
    {% endblock %}