{% extends 'base.html' %}
{% block content %}
<br>
<div id='page-container' class="container">
  <div class='row'>
    <h1>{{heading.title()}}</h1>
  </div>
  {% if events|length == 0 %}
  <h5>There aren't any events to see here!</h5>
  {% else %}
  {% for event in events %}
  <br>
  <div class='row'>
    <div id='event-history-name' class='row border-bottom'>
      <div class='col-sm-12 col-md-9'>
        <h2>{{loop.index}}. <a href='{{url_for("events.show", id=event.id)}}'>{{event.title}}</a></h2>
        <h3>{{event.date.strftime('%B %d, %Y @ %#I:%M
            %p')}} - <strong>{{event.event_status.name.title()}}</strong></h3>
        <h3>{{event.venue}}, {{event.event_city.name.title()}}</h3>
        <h6><strong>Event ID: </strong>{{event.id}}<strong> Created On:
          </strong>{{event.created_on.strftime('%d/%m/%Y')}}</h6>
      </div>
      <div id='history-image' class='col-sm-12 col-md-3'>
        <img src='{{event.image}}' class='img-thumbnail rounded'>
      </div>
      <p></p><br>
    </div>
  </div>
  <br>
  {% endfor %}{% endif %}
</div><!-- end container -->
{% endblock %}